<?xml version="1.0" encoding="UTF-8"?>
<suite thread-count="1" parallel="methods" name="Sanity Suite">
  <test thread-count="1" parallel="methods" name="Automation Testing">
    <classes>
      <class name="com.shoppersStack.testscripts.BuyModule"/>
      <class name="com.shoppersStack.testscripts.MyProfileModule"/>
      <class name="com.shoppersStack.testscripts.MyWalletModule"/>
      <class name="com.shoppersStack.testscripts.MyAddressModule"/>
      <class name="com.shoppersStack.testscripts.AddProductToCart"/>
      <class name="com.shoppersStack.testscripts.LoginModule"/>
      <class name="com.shoppersStack.testscripts.WishlistModule"/>
      <class name="com.shoppersStack.testscripts.VocherModule"/>
      <class name="com.shoppersStack.testscripts.LogoutModule"/>
      <class name="com.shoppersStack.testscripts.RegisterationModule"/>
      <class name="com.shoppersStack.testscripts.SearchModule"/>
    </classes>
  </test> <!-- Automation Testing -->
</suite> <!-- Sanity Suite -->
